$def with (form,datos)

<form name="main" method="post"> 
$if not form.valid: <p class="error">Error:</p>
$:form.render()

<input type="submit" value="Guardar"/>    </form>


<table border="1"">
    <th> cliente</th>
    <th> pelicula</th>
    <th> formato</th>
    <th> tiempo</th>
    <th> total</th>
     $for row in datos:
      <tr>
          <td>$row.cliente</td>
           <td>$row.pelicula</td>
            <td>$row.formato</td>
             <td>$row.tiempo </td>
              <td>$row.total </td>
      </tr>
</table>
